body {
    margin: 0rem;
    padding: 10vh;
    display: grid;
    justify-content: center;
    background-color: #587dab;
}

a:link, a:visited {
    text-decoration: none;
    font-weight: bold;
    color: #666;
}

a:hover {
    color: #679de0;
}

hr {
    height: 1px;
    border: none;
    background-color: #aaa;
    margin: 1rem 0rem;

}

input:focus,
button:focus {
    outline: none;
}

.form {
    font-family: Arial;
    font-size: .8rem;
    margin-bottom: .5rem;
    letter-spacing: .03rem;
    /*line-height: .5rem;*/
}

.normalColor {
    color: #888;
}

.errorColor {
    color: #d03c3c;
}

.messageColor {
    color: #679de0;
}

ul {
    padding-left: 1rem;
}

.input {
    border: #ddd 1px solid;
    border-radius: 3px;
    width: 90%;
    height: 20px;
    color: #679de0;
    padding: .05rem .25rem;
    margin-top: .25rem;
}

.button {
    margin-top: 1.5rem;
    font-family: Arial;
    font-size: .8rem;
    color: #fff;
    background: #888888;
    border: #555 1px solid;
    /*border-radius: 3px;*/
    padding: .5rem;
}

.button:active {
    background: #ddd;
}

.button:hover {
    cursor: pointer;
}

fieldset {
    border: #444 1px solid;
    /*border-radius: 10px;*/
    width: 240px;
    padding: 1rem 2rem;
    background-color: #fff;
    box-shadow: 0px 5px 10px #0004;
}

legend {
    font-family: Arial;
    font-size: 1rem;
    color: #fff;
    letter-spacing: .05rem;
    border: #444 1px solid;
    padding: .5rem;
    /*border-radius: 5px;*/
    background-color: #73a2e5;

}

.singleForecast {
    border: 1px solid #ddd;
    /*border-radius: 3px;*/
    padding: 0rem .5rem;
    margin-bottom: 1rem;
    line-height: .75rem;
}